src/main/java/com/nhnacademy/aiot/setting/test.json
[
  {
    "id": "18c7271026c7fa4a",
    "type": "tab",
    "label": "플로우 4",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "08c7f86736322e0d",
    "type": "function",
    "z": "18c7271026c7fa4a",
    "name": "isTopic",
    "func": "if (msg.data[2] == \"device\" && msg.data[5] ==\"up\"){\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 560,
    "wires": [["81adf53d292f5def"]]
  },
  {
    "id": "81adf53d292f5def",
    "type": "function",
    "z": "18c7271026c7fa4a",
    "name": "isGyeongnam",
    "func": "if (msg.payload.deviceInfo.tags != undefined && msg.payload.deviceInfo.tags.branch ==\"gyeongnam\"){\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 560,
    "wires": [["cc721f43ced8a5d2"]]
  },
  {
    "id": "4d03156b6783f24e",
    "type": "function",
    "z": "18c7271026c7fa4a",
    "name": "split_topic",
    "func": "msg.data=msg.topic.split(\"/\");\nif(msg.payload.deviceInfo!=undefined && msg.payload.deviceInfo.devEui != undefined){\n    msg.deviceId=msg.payload.deviceInfo.devEui;\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 560,
    "wires": [["08c7f86736322e0d"]]
  },
  {
    "id": "22219ef19962ff50",
    "type": "mqtt in",
    "z": "18c7271026c7fa4a",
    "name": "",
    "topic": "#",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "777155e1e7687505",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 450,
    "y": 560,
    "wires": [["4d03156b6783f24e", "96b8343330b1c67e"]]
  },
  {
    "id": "cc721f43ced8a5d2",
    "type": "function",
    "z": "18c7271026c7fa4a",
    "name": "allObjectSend",
    "func": "var objects=Object.keys(msg.payload.object);\nvar namepass = [\n    \"temperature\",\n    \"humidity\",\n    \"co2\",\n    \"pressure\",\n    \"batteryLevel\",\n    \"leq\"\n  ];\nfor(let i=0;i<objects.length;i++){\n    if(namepass.includes(objects[i])){\n        createSendNode(objects[i],msg.payload.object[objects[i]]);\n    }\n}\n\nfunction createSendNode(sensor,value){\n    if(value!=undefined){\n        var newMsg={\n            device:{\n                \"deviceEui\":msg.payload.deviceInfo.devEui,\n                \"object\":msg.payload.object\n            },\n            sensor:sensor,\n            place:msg.payload.deviceInfo.tags.place,\n            topic: `data/d/${msg.payload.deviceInfo.devEui}/p/${msg.payload.deviceInfo.tags.place}/e/${sensor}`,\n            payload:{\n                time: new Date().getTime(),\n                value : value\n            }\n        }\n        node.send(newMsg);\n    }\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 560,
    "wires": [["82b9d4c2bccee091"]]
  },
  {
    "id": "82b9d4c2bccee091",
    "type": "function",
    "z": "18c7271026c7fa4a",
    "name": "eng-ko",
    "func": "var place={\n    storage:\"창고\",\n    server_room:\"서버실\",\n    office:\"사무실\",\n    lobby:\"로비\",\n    class_b:\"강의실 B\",\n    class_a:\"강의실 A\",\n    meeting_room:\"미팅룸\",\n    pair_room:\"페어룸\",\n    냉장고:\"냉장고\"\n}\n\nmsg.topic=`data/d/${msg.device.deviceEui}/p/${place[msg.place]}/e/${msg.sensor}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1530,
    "y": 560,
    "wires": [["83f059bf5499b866"]]
  },
  {
    "id": "83f059bf5499b866",
    "type": "debug",
    "z": "18c7271026c7fa4a",
    "name": "debug 10",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1840,
    "y": 720,
    "wires": []
  },
  {
    "id": "04a19ccc997258f2",
    "type": "mqtt out",
    "z": "18c7271026c7fa4a",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c94037b4662b2b1d",
    "x": 1850,
    "y": 480,
    "wires": []
  },
  {
    "id": "96b8343330b1c67e",
    "type": "debug",
    "z": "18c7271026c7fa4a",
    "name": "debug 12",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 400,
    "wires": []
  },
  {
    "id": "51fe9fd98fd23561",
    "type": "mqtt in",
    "z": "18c7271026c7fa4a",
    "name": "",
    "topic": "application/+/device/+/event/up",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "777155e1e7687505",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 810,
    "y": 1280,
    "wires": [["78ba7cfbb05ced8d"]]
  },
  {
    "id": "78ba7cfbb05ced8d",
    "type": "debug",
    "z": "18c7271026c7fa4a",
    "name": "debug 13",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1600,
    "y": 1280,
    "wires": []
  },
  {
    "id": "777155e1e7687505",
    "type": "mqtt-broker",
    "name": "NHN academy EMS",
    "broker": "ems.nhnacademy.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "c94037b4662b2b1d",
    "type": "mqtt-broker",
    "name": "my",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
